body {
    font-family: 'Montserrat', sans-serif;
}

#background {
    padding: 15px 10px;
    background-color: rgb(29, 30, 45);
}

.content {
    color: white;
    height: 100%;
    width: 100%;
}

#align-right {
    text-align: right;
}

.card {
    border: 0.5px rgb(29, 30, 45) solid;
    border-radius: 5px;
    background-color: rgb(39, 41, 59);
    width: 100%;
    padding: 5px;
}

#werm-display {
    height: 95%;
}

.tbl {
    height: 40%;
}

.werm-graphs {
    margin-bottom: 15px;
    height: 50%;
}

.werms {
    margin-top: 15px;
}

.worm-list-item {
    cursor: pointer;
}