body {
    font-family: 'Montserrat', sans-serif;
}

#background {
    background-color: rgb(39, 41, 59);
}

.content {
    color: white;
    height: 100%;
}

.werm-graphs {
    height: 50%;
}

.worm-list-item {
    cursor: pointer;
}