body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(29, 30, 45);
}


#background {
    padding: 15px 10px;
    
}


.content {
    color: white;
    height: 90%;
    width: 100%;
}

#align-right {
    text-align: right;
}


.card {
    border: 0.5px rgb(96,210,181) solid;
    border-radius: 5px;
    background-color: rgb(39, 41, 59);
    width: 100%;
    padding: 5px;
}

.werm-display {
    height: 95%;
    margin: 0px 15px;
}

.tbl {
    height: 43%;
}

.info_tbl {
    padding: 25px;
    max-width: 100%;
    white-space: nowrap;
}

.werm-graphs {
    margin-top: 15px;
    height: 45%;
}

.werms {
    margin-bottom: 15px;
    padding: 5px;
}

.worm-list-item {
    cursor: pointer;
}

.total {
    margin-top: 30px;
    margin-right: 15px;
}

.navbar {
    background-color:transparent !important;
    border-color: transparent !important;
    border-bottom: rgb(96,210,181) 1px solid !important;
}