<launch>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/werm"
	args="werm_body_1_aux_joint_position_controller
		  werm_body_1_joint_position_controller
		  werm_body_2_aux_joint_position_controller
		  werm_body_2_joint_position_controller
		  werm_body_3_aux_joint_position_controller
		  werm_body_3_joint_position_controller
		  werm_body_4_aux_joint_position_controller
		  werm_body_4_joint_position_controller
		  werm_body_5_aux_joint_position_controller
		  werm_body_5_joint_position_controller
		  joint_state_controller
		  --shutdown-timeout 3"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
	<remap from="/joint_states" to="/werm/joint_states"/>
	</node>
</launch>
