<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    </head>
    <body>
        <div class="container" id="background">
            <div class="row">
                <div class="col-md-8 content" id="werm-content">
                    
                </div>
                <div class="col-md-4 content" id="graph-content">
                    bye
                </div>
            </div>
        </div>


        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
