<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    </head>
    <body>
        <div class="container-fluid" id="background">
            <div class="row">
                <div class="col-8 content" id="werm-content">
                    hello
                </div>
                <div class="col-4 content" id="graph-content">
                    <div class="row werm-graphs">
                        hellow
                    </div>
                    <div class="row werms">
                        <table class="table table-dark">
                            <thread>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Longitude</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thread>
                            <tbody>
                                    {% for werm in werms %}
                                    <tr class="worm-list-item" onclick="">
                                        <td>{{ werm.id }}</td>
                                        <td>{{ werm.id }}</td>
                                        <td>{{ werm.id }}</td>
                                        <td>{{ werm.id }}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                            <!-- <row>
                                {% for werm in werms %}
                                    <li>{{ werm.id }}</li>
                                {% endfor %}
                            </row> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
